<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <!-- <applicationSettings> -->
  <!-- mirrors required at the consumer side - all below is just to mention the requirements -->
  <!-- <appSettings> -->
  <!-- <add key="RepositoryPath" value="there should be the path to files' root :)" /> -->
  <!-- <add key="CarsRepoFile" value="cars.json" /> -->
  <!-- <add key="DealersRepoFile" value="dealers.json" /> -->
  <!-- </appSettings> -->
</configuration>