<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <appSettings>
    <!-- <add key="DaoDllLocation" value="JsonDAO\bin\Debug\merged.dll" /> -->
    <!-- <add key="DaoDllLocation" value="MockDAO\bin\Debug\Kups.CarBrowser.MockDAO.dll" /> -->
    <add key="DaoDllLocation" value="SqlDAO\bin\Debug\merged.dll" />
    <add key="connectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Kups.CarBrowser;Integrated Security=True;MultipleActiveResultSets=True" />
    <add key="RepositoryPath" value="C:\smieci\PW\CarBrowser\jsonRepo" />
    <add key="CarsRepoFile" value="cars.json" />
    <add key="DealersRepoFile" value="dealers.json" />
  </appSettings>
</configuration>